# ───────── General
.DS_Store
Thumbs.db
*.log
*.tmp

# ───────── Node / Monorepo
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ───────── Env (NO subir)
.env
**/.env
**/.env.local
**/.env.development
**/.env.production

# ───────── Next.js (frontend)
frontend/.next/
frontend/.vercel/
frontend/.turbo/
frontend/out/

# ───────── Build cache
**/.cache/
**/.parcel-cache/

# ───────── Prisma / DB (sí subir migraciones, NO el archivo DB)
backend/prisma/dev.db
backend/prisma/dev.db-journal

# ───────── Subidas de usuario (NO versionar)
backend/uploads/

# ───────── Sistemas / IDE
.vscode/
.idea/
*.swp
